%table#brick_data
  %thead
    %tr.top_header
      %th{:colspan => "9"}= @brick.name
    %tr.middle_header
      %th Gender
      %th Species
      %th.state State
      %th{:colspan => "5"} Values
      %th.notes Notes
    %tr.bottom_header
      %th
      %th
      %th.state
      %th Min
      %th Max
      %th Mean
      %th Std Dev
      %th Units
      %th.notes
  
  %tbody
  - @brick.mortars.each do |mortar|
    %tr
      %td= mortar.species.name
      %td= mortar.gender.name
      %td.state= mortar.state.name
      %td= mortar.min
      %td= mortar.max
      %td= mortar.mean
      %td= mortar.stdev
      %td pg/mL
      %td.notes= link_to 'Read more >>', mortar_path(mortar)