- content_for :header do
  = link_to 'All Bricks', bricks_path 
  &gt;
  = @brick.name

- unless @brick.description.blank?  
  .description
    = @brick.description
  
= render 'table_data'

%br/

= render 'shared/relationships_table', :resources => @brick.sources
= render 'shared/relationships_table', :resources => @brick.targets

